h3
{
  margin: 0 0 1em 0;
  text-align: left;
}

.content
{
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

footer
{
  text-align: right;
  margin: 1em;
}

.borders
{
  margin: 2em auto;
  padding: 1em 1.5em;
  border: 1px solid #777;
  border-radius: 1em;
}

.model-select a
{
  cursor: pointer;
}

.model-select a + a::before
{
  content: " | ";
  cursor: default;
  color: #777;
}

.content-box
{
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0 !important;
}

.inputs
{
  padding: 1em;
  flex: 1;
  width: 100%;
}

.inputs td
{
  width: 50%;
}

.inputs input
{
  width: 100%;
  box-sizing: border-box;
}

.resource
{
  display: block;
  margin: 0.3em;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
  background: #eee;
  text-align: left;
  text-decoration: none;
  color: inherit;
}

.resource:hover
{
  background: #50c878;
}

.resource-author
{
  margin-left: 1em;
}
